<div class="container" style="color: black;">
    <h1>Slots</h1>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Title</th>
        </thead>
        <tbody>
             <tr *ngFor="let todo of todos |filter:check | paginate:{          
                itemsPerPage:tbSize,
                currentPage:page,
                totalItems:cnt
            };let i =index">
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
            </tr>
        </tbody>
        <!-- |filter:true:true:false:true:true:true:false:true -->

    </table>
    <div>
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onDataChange($event)"
        >

        </pagination-controls>
    </div>
</div>
