<div class="container">
    <div class="header">
        <h2>{{months[date.getMonth()]}}, {{date.getFullYear()}}</h2>
        <div class="days">
            <table>
                <thead>
                    <th style="padding-left:0 ;">S</th>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                </thead>
                <tr>
                    <td></td>
                </tr>
            </table>
            
        </div>
    </div>
    <div class="dates">

    </div>
</div>
