.Mid_Schedule {
    border: 1px #1b9df0 solid;
    width: 90%;   
    background-color:white;
    color: #1b9df0;
    text-align: center;
    align-items: center;
    margin: 4%;
    border-radius: 5px;
   padding-top: 2%;
   padding-bottom: 2%;
    
}

.Mid_Schedule:hover {
    background-color: #1b9df0;
    color: white;
    cursor: pointer;
    
}
.outerbox{
    height: 100%
}