<div  class="outerbox" >            
    <br>
    <h5 style="text-align: center;margin-bottom: 4%;">Slots for {{selecteddate|date}}</h5>
     
    <div  *ngFor="let slot of slots"> 
        <div *ngIf="this.selecteddate.getDate() ===gd(slot.date).getDate() && this.selecteddate.getMonth() ===gd(slot.date).getMonth() ">
            <div class="Mid_Schedule">
                <h6>Slot time - {{slot.startTime}} - {{slot.endTime}}</h6>         
              </div>
        </div>              
    </div>
    
  
    

</div>