<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!--Get your own code at fontawesome.com-->

</head>
<body>
  <div class="navigator">
    <h1>H</h1>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg> -->
  
    <a href="/pan" title="User-Panel"><fa-icon class="usericon" [icon]="faUser" (click)="navtopan()"></fa-icon></a>
    <a href="/interv" title="View Slots"> <fa-icon class="calicon" [icon]="faCal" (click)="navtointerv()"></fa-icon></a>
  
  </div>
  
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <div class="Card" >
    <h1>HIRE</h1>
    <img class="card_img" *ngIf="user" src="{{ user.photoUrl }}" >
  </div>
  <div class="card-block">
    <h4 class="card-email" *ngIf="user">{{ user.email }}</h4>
    <h4 class="card-title" *ngIf="user">{{ user.name }}</h4>
    <h4 class="card-title">SDE-1</h4>
    
    
  </div>
  <hr/>
  
  <div class="skills">
    <h2>Skills</h2>
    <br />
    <div class="skill">
    <div class="addskill">
      <p>Angular</p>
      <!-- <img
        src="../../assets/383147_edit_icon.png"
        alt=""
        width="30"
        height="25"
      /> -->

      <!-- <fa-icon [icon]="faEdit"></fa-icon> -->
    </div>
    <br />
    <div class="addskill">
      <p>Angular</p>
      <!-- <img
        src="../../assets/383147_edit_icon.png"
        alt=""
        width="30"
        height="25"
      /> -->
      <!-- <fa-icon [icon]="faEdit"></fa-icon> -->
    </div>
    <br />
    <div class="addskill">
      <p>Angular</p>
      <!-- <img
        src="../../assets/383147_edit_icon.png"
        alt=""
        width="30"
        height="25"
      /> -->
      <!-- <fa-icon [icon]="faEdit"></fa-icon> -->
    </div>
  </div>
</div>
<button class="btn btn-danger signout" (click)="signOut()">Sign Out</button>
  </div>
  
  <div class="main-content">
    <div class="part1">
    <p class="greet" *ngIf="user">Good Evening {{user.firstName}} ....</p>
    <div class="incentive">
      <div class="incentive_card">
        <p class="p1">Monthly</p>
        <p class="p2">36</p>
      </div>
      <div class="incentive_card">
        <p class="p1">Monthly</p>
        <p class="p2">36</p>
      </div>
      <div class="incentive_card">
        <p class="p1">Monthly</p>
        <p class="p2">36</p>
      </div>
      
      
    </div>
    <div class="interview-schedule">
      <h2>Upcoming Inteviews</h2>
      <div class="scroll-control">
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
          
          <p>Hi this is item</p>
         
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
        
          <p>Hi this is item</p>
          
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
        
          <p>Hi this is item</p>
          
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
         
          <p>Hi this is item</p>
        
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
         
          <p>Hi this is item</p>
         
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
         
          <p>Hi this is item</p>
          
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
          
          <p>Hi this is item</p>
    
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
         
          <p>Hi this is item</p>
        
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
          
          <p>Hi this is item</p>
          
        </div>
        <div class="Mid_Schedule" >
          <h5>Team Meeting - Query Session</h5>
          
          <p>Hi this is item</p>
          
        </div>
      </div>
    </div>
    </div>
    
      <div class="part2">
        <h1>Incentives</h1>
        <ul>
            <li style="--accent-color:#0B374D">
                <div class="icon"><i class="fa-brands fa-codepen"></i></div>
                <div class="title"><img  width="100px" src="https://cdn-icons.flaticon.com/png/512/4116/premium/4116431.png?token=exp=1648457151~hmac=7b5316bcebf7e99a4ec37e9f2bd71941" alt="image"></div>
                <div class="descr">576</div>
            </li>
          
        </ul>
      </div>
      <div class="user-profile">
        <img class="user_img" *ngIf="user" src="{{ user.photoUrl }}" >
        <p class="user_name" *ngIf="user">{{ user.name }}</p>
        <p class="user_email" *ngIf="user">{{ user.email }}</p>
        <p class="position"> SDE 2</p>
        <hr>
        <p class="skil">Skills</p>
        <div class="user_skills">
          <div class="skill-card">
            <p>Primary</p>
          </div>
          <div class="skill-card">
            <p>Secondary</p>
          </div>
          <div class="skill-card">
            <p>Tertiary</p>
          </div>
        </div>
      </div>
    
    <!-- <div class="Right">
      <h2>History</h2>
      <div class="a1">
          <p>50</p>
          <div class="a2">
            <p>30</p>
            <div class="a3">
              <p>20</p>
            </div>
          </div>
      </div>

      <div>
        <h3>Incentive</h3>
      </div>
      <button class="btn btn-danger" (click)="manage()">Manage slots  <fa-icon [icon]="faRight"></fa-icon></button>
    </div> -->
  </div>
  
  <!-- <app-login #log></app-login> -->
</body>