
html,body{
  height: 100%;
}

.wrap{
    height: 100vh;
    background-image: url('../../../assets/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
.content{
    float: right;margin-top: 20%;margin-right: 10rem;text-align: center;
  }
  
#hello{
  /* display:none; */
}