<div class="container" style="color: white;">
    <br>
    <h3>Filter Options</h3>
    <br>
    <h5>Date Range</h5>
    <div class="row" style="padding: 12px;">
        
            <p style="margin: 0;padding-left: 0;">From</p>
            <input type="date" placeholder="From" />
            <p style="margin-bottom: 0;margin-top:10px;padding-left: 0;">To</p>
             <input type="date" placeholder="To" />
    </div>
    <br>
    <br>

    <div class="form-check">
        <h5 style="">Rounds</h5>
        <input class="form-check-input" (click)="check($event)" type="checkbox" id="round1">
    <label class="form-check-label"  for="round1">Round 1</label>
    <br>
    <input class="form-check-input" type="checkbox" id="round2">
    <label class="form-check-label" for="round2">Round 2</label>
    <br>
    <input class="form-check-input" type="checkbox" id="round3">
    <label class="form-check-label" for="round3">Round 3</label>
    <br>
    <input class="form-check-input" type="checkbox" id="round4">
    <label class="form-check-label" for="round4">HR</label>

    <br>
    <br>
    <br>
    <h5 style="margin-left: -24px;">Skill</h5>
    
        <input class="form-check-input" type="checkbox" id="Angular">
        <label class="form-check-label" for="Angular">Angular</label>
    
    
    <br>
    <input class="form-check-input" type="checkbox" id="Java">
    <label class="form-check-label" for="Java">Java</label>
    <br>
    <input class="form-check-input" type="checkbox" id="Devops">
    <label class="form-check-label" for="Devops">Devops</label>
    <br>
    <input class="form-check-input" type="checkbox" id="Sping">
    <label class="form-check-label" for="Sping">Spring</label>    
    </div>
    
      

</div>

