/* .bada-card{
    
    
    border-radius: 1rem;
    box-shadow: 0px 0px 51px rgba(90, 89, 89, 0.411);
    padding: 3rem 5rem 8rem 5rem;
    margin: 2rem 6rem;
}
.chota{
    background-image: url('../../../../assets/6308.jpg');
} */